extends layout

block content
	.container
		.jumbotron
			h1 What Matters Most SCOPE
			p
			| Bacon ipsum dolor sit amet drumstick short loin leberkas boudin t-bone hamburger jerky tri-tip. Tenderloin swine sirloin filet mignon andouille boudin beef jowl cow salami.
			br
			br
			form.form-inline(role='form')
				.form-group
					input#email.form-control(type='email', placeholder='Enter email')
					button.btn.btn-small.btn-success(type='submit') Learn More

