extends layout

block content
	.container
		.jumbotron
			h1 redoEdu
			p
				| Reinventing US education for the modern world is a massive undertaking; awareness of the issues at hand and the path forward is not enough. Change will only come through a dedicated movement composed of key stakeholders and concerned citizens.
			form.form-inline(role="form", action="/user/email" method="post", id='email-form', name='email-form')
				.form-group
					input.form-control(type='email', placeholder='Enter email' name='email-body' id='email-body') 
					button.btn.btn-small.btn-success(type='submit', name='email-button', id='email-button') Learn More

