extends layout

block content
	.container
		.jumbotron
			h1 redoEdu
			p
				| Reinventing US education for the modern world is a massive undertaking; awareness of the issues at hand and the path forward is not enough. Change will only come through a dedicated movement composed of key stakeholders and concerned citizens.
			br
			form.form-inline(role="form", action="" method="post", id='story', name='story')
				button.btn.btn-lg.btn-success(type='submit', name='email-button', id='email-button') Click here to tell us your story

