doctype 5
html
	head
		title='redoEdu'
		link(href='http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css', rel='stylesheet')
		link(href='http://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css', rel='stylesheet')
		link(href='http://fonts.googleapis.com/css?family=Raleway:400,200', rel='stylesheet', type='text/css')
		link(href='http://fonts.googleapis.com/css?family=Istok+Web:700', rel='stylesheet', type='text/css')
		link(href='/stylesheets/style.css', rel='stylesheet', type='text/css')
	body
		nav.navbar.navbar-fixed-top.navbar-inverse(role='navigation')
			.navbar-header
				a.navbar-brand(href='#') redoEdu
			.navbar-collapse.navbar-ex8-collapse
				ul.nav.navbar-nav
					li
						a(href='mailto:contact@redoedu.org') Contact Us
		block content
		script(src='http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js')
		script(src='/javascripts/askquestions.js')
		script(src='/javascripts/runwebcam.js')
		script(src='http://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js')
