extends layout
script
    console.log(root);
block content
    .container
        .jumbotron
            h1 redoEdu
            p
                | Reinventing US education for the modern world is a massive undertaking; awareness of the issues at hand and the path forward is not enough. Change will only come through a dedicated movement composed of key stakeholders and concerned citizens.
            h2
                | Thanks! Check back soon for more information.
