extends layout
block content
	.container
		#header
			h2
				| Tweet your story
			p 
				| This is where your explanatory text goes
			p
				.well.well-sm#prompts This is where prompts go
			#tweet-widget
				a.twitter-timeline(href='https://twitter.com/search?q=%23redoEdu', data-widget-id='393012991831994368', height='400px') Tweets about "#redoEdu"
				script.
					!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");