/* Space out content a bit */
body {
  padding-top: 70px;
  padding-bottom: 20px;
  font-family: 'Raleway', sans-serif;
  background-image: url('../images/chalkboard.jpg');
  background-repeat:no-repeat;
  background-size: cover;
}

h1, h2, h3, h4, h5{
    font-family: 'Istok Web', sans-serif;
  }

#intro{
  color: white;
  font-size: 15px;
  border-radius:15px;
  padding: 30px;
}

.form-control{
  margin-bottom: 5px;
  margin-top: 5px;
}


#inputSmall{
  width: 300px;
}