extends ../layout
block content
    .container
        #header
            h2
                | Record your story
            p 
                | This is where your explanatory text goes
            p
                .well.well-sm#prompts This is where prompts go
            #widget
            #player
            